* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 500px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    position: relative;
    color: beige;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 75px 20px 75px 20px;

    
}
.timer-option .fa-question {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}
.timer-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}
.timer-screen h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
.p-main {
    font-size: 30px;
    margin: 20px 10px 20px;
}
.p-second {
    visibility: hidden;
}
.timer-buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px 20px;
}
.timer-buttons .fa-regular {
    font-size: 20px;
}
.timer-button {
    width: 20%;
    height: 30px;
    margin: 0 5px;
    flex-shrink: 0;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
.timer-button:hover {
    /* background-color:whitesmoke; */
    border: 0.5px solid black;
}

.timer-button:hover i {
    scale: 1.1;
}
.button-archiwum {
    flex-grow: 1;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
.button-archiwum:hover span {
    scale: 1.1;
}
.timer-archiwum {
    display: none;

}
.timer-modal-hero {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}
.timer-modal {
    height: 250px;
    width: 400px;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    border-radius: 75px 20px 75px 20px;
    transform: translate( -50%, -50%);
    margin:5px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    

}
.timer-modal__instruction {
    padding: 20px;

}
.timer-modal__instruction p {
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
}
.timer-modal__instruction .close {
    display: block;
    margin: 5px auto;
    width: 90px;
    font-size: 15px;
    background-color: none;
}
.timer-archiwum-list {
    margin-bottom: 20px;
}
